 <!--<li class="nav-item ">
        <a class="nav-link" href=#> <!--"./tables.html"
          <i class="material-icons">content_paste</i>
          <p>WP</p>
        </a>
      </li> 
      <li class="nav-item ">
        <a class="nav-link" href=#><!--"./typography.html"
          <i class="material-icons">library_books</i>
          <p>Projets</p>
        </a>
      </li>--><!-- <li class="nav-item ">
        <a class="nav-link" href=#><!--"./notifications.html"
          <i class="material-icons">assignment_ind</i>
          <p>Affectation Uos</p>
        </a>
      </li>-->
     <!-- <li class="nav-item ">
        <a class="nav-link" href=#><!--"./rtl.html"
          <i class="material-icons">group</i>
          <p>Collaborateurs</p>
        </a>
      </li>-->

      active 