            
                    <p><label for="id_username">Nom d'utilisateur&nbsp;:</label> <input class="form-control" type="text" name="username" maxlength="150" required="" id="id_username" autofocus=""> <span class="helptext">Requis. 150 caractères maximum. Uniquement des lettres, nombres et les caractères «&nbsp;@&nbsp;», «&nbsp;.&nbsp;», «&nbsp;+&nbsp;», «&nbsp;-&nbsp;» et «&nbsp;_&nbsp;».</span></p>

                    <p><label for="id_first_name">Prénom&nbsp;:</label> <input class="form-control" type="text" name="first_name" maxlength="30" id="id_first_name"></p>
                    <p><label for="id_last_name">Nom&nbsp;:</label> <input class="form-control" type="text" name="last_name" maxlength="150" id="id_last_name"></p>

                    <p><label for="id_email">Email&nbsp;:</label> <input class="form-control" type="email" name="email" required="" id="id_email"></p>
                    <p><label for="id_password1">Mot de passe&nbsp;:</label> 
                    
                    <input type="password" class="form-control" name="password1" required="" id="id_password1"> <span class="helptext"></span></p>
                    <ul>
                        <li>Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.</li><li>Votre mot de passe doit contenir au minimum 8 caractères.</li>
                        <li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</li>
                        <li>Votre mot de passe ne peut pas être entièrement numérique.</li>
                    </ul>
                    <p></p>

                    <p><label for="id_password2">Confirmation du mot de passe&nbsp;:</label> 
                    <input class="form-control" type="password" name="password2" required="" id="id_password2"> 
                    <span class="helptext">Saisissez le même mot de passe que précédemment, pour vérification.</span></p>

                    <p><label for="id_poste">Poste&nbsp;:</label> 
                    <input class="form-control" type="text" name="poste" maxlength="150" required="" id="id_poste"></p>

                    <p><label  for="id_image">Photo de profile: </label> 
                    <input  type="file" name="image" id="id_image" accept="image/*"></p>