{% load static %}
{% include 'theme.html' %}                    
                    
      <div class="content">
        <div class="container-fluid">
          <div class="row">

       
            <div class="col-md-12">
               <div class="card">
                <div class="card-header ">
                  <h4 class="card-title">Création de compte</h4>
                  
             
                  
              

                <div class="card-body">
                    <!--Afficher les messages d'erreurs-->
    
                    {% for message in messages %}
                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        <p class="text-center" >{{ message }}</p> 
                        

                    </div>
                    {% endfor %}

                    <form method="post" enctype='multipart/form-data'>
                    {% csrf_token %}

                    <p>
         <!-- on defini quand meme un username egale a l'adresse mail utile uniquement pour l'administrateur
        Voir la view register dans profil  -->
                        {{ form.username.as_hidden  }}
                    </p>

                    <p>
                        <label for="{{ form.last_name.id_for_label }}">Nom:</label>
                        {{ form.last_name }}
                    </p>

                    
                                
                    <p>
                        <label for="{{ form.first_name.id_for_label }}">Prénom:</label>
                        {{ form.first_name }}

                    </p>
                    
                    <p>
                        <label for="{{ form.email.id_for_label }}">Email:</label>
                        {{ form.email }}

                    </p>
                 
                    
                   
                    
                    <p>
                        <label for="{{  profile_form.poste.id_for_label }}">Poste:</label>
                        {{ profile_form.poste }}

                    </p>
                    <p >
                        <label for="{{  ajout_poste_form.nom_de_poste.id_for_label }}">Ajouter un poste :</label>
                        
                        {{add_poste_form.nom_de_poste}}
                        
                        
                    </p>  
                    <p>
                        <label for="{{  profile_form.role.id_for_label }}">Role:</label>
                        {{ profile_form.role }}

                    </p>

                    <p id="equipe_liv" >
                        <label for="{{ equipe_form.rt_liv.id_for_label }}">Lier ce compte a un RT :</label>
                    
                        {{equipe_form.rt_liv}}

                        <br/>
                        
                        <label  for="{{  equipe_form.equipe.id_for_label }}">Equipe:</label>
                        
                        {{equipe_form.executant}}
 
                    </p> 

                 
                  

                    <p id="equipe_responsable"  >
                        <label for="{{  responsable_form.responsable.id_for_label }}">Ajouter un responsable:</label>
                        
                        {{responsable_form.responsable}}
                        
                        
                    </p>
                   
        
                    
                    <button class="btn btn-primary" type="submit"> Valider </button>
                    </form>
                 
                </div>
              </div>
            </div>
      
          </div>
        </div>
      </div>













