{% load static %}
{% include 'theme.html' %}                    
                    
      <div class="content">
        <div class="container-fluid">
          <div class="row">

       
            <div class="col-md-12">
               <div class="card">
                <div class="card-header ">
                  <h4 class="card-title">Création de compte</h4>
                  
             
                  
              

                <div class="card-body">
                    <!--Inclus les messages d'erreurs-->
                    {% include 'error_message.html' %}

                    <form method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                
                                  
                    <p><label for="id_username">Nom d'utilisateur  :</label> <input class="form-control" type="text" name="username" maxlength="150"  id="id_username" autofocus=""> <span class="helptext">Requis. 150 caractères maximum. Uniquement des lettres, nombres et les caractères «  @  », «  .  », «  +  », «  -  » et «  _  ».</span></p>

                    <p><label for="id_last_name">Nom  :</label> <input class="form-control" type="text" name="last_name" maxlength="150" id="id_last_name"></p>
                    
                    <p><label for="id_first_name">Prénom  :</label> <input class="form-control" type="text" name="first_name" maxlength="30" id="id_first_name"></p>

                    

                    <p><label for="id_email">Email  :</label> <input class="form-control" type="email" name="email"  id="id_email"></p>
                    <p><label for="id_password1">Mot de passe  :</label> 
                    
                    <input type="password" class="form-control" name="password1"  id="id_password1"> <span class="helptext"></span></p>
                    <ul>
                        <li>Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.</li><li>Votre mot de passe doit contenir au minimum 8 caractères.</li>
                        <li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</li>
                        <li>Votre mot de passe ne peut pas être entièrement numérique.</li>
                    </ul>
                    <p></p>

                    <p><label for="id_password2">Confirmation du mot de passe  :</label> 
                    <input class="form-control" type="password" name="password2"  id="id_password2"> 
                    <span class="helptext">Saisissez le même mot de passe que précédemment, pour vérification.</span></p>

                    <p><label for="id_poste">Poste  :</label> 
                    <input class="form-control" type="text" name="poste" maxlength="150"  id="id_poste"></p>

                    <p><label  for="id_image">Photo de profile: </label> 
                    <input  type="file" name="image" id="id_image" accept="image/*"></p>
    
        
                    
                    <button class="btn btn-primary" type="submit"> Valider </button>
                    </form>
                 
                </div>
              </div>
            </div>
      
          </div>
        </div>
      </div>














<!-- 

<p>Registration form</p>

{% block body %}
<div class="container">
    <h1>Register</h1>
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit"> Submit </button>
    </form>
</div>
{% endblock %}-->