{% load static %}
{% include 'theme.html' %}                    
                    
      <div class="content">
        <div class="container-fluid">
          <div class="row">

       
            <div class="col-md-12">
               <div class="card">
                <div class="card-header ">
                  <h4 class="card-title">Création de compte</h4>
                  
             
                  
              

                <div class="card-body">
                    <!--Inclus les messages d'erreurs-->
                    {% include 'error_message.html' %}

                    <form method="post" enctype='multipart/form-data'>
                    {% csrf_token %}

                    <p>
         <!-- on defini quand meme un username egale a l'adresse mail utile uniquement pour l'administrateur
        Voir la view register dans profil  -->
                        {{ form.username.as_hidden  }}
                    </p>

                    <p>
                        <label for="{{ form.last_name.id_for_label }}">Nom:</label>
                        {{ form.last_name }}
                    </p>

                    
                                
                    <p>
                        <label for="{{ form.first_name.id_for_label }}">Prénom:</label>
                        {{ form.first_name }}

                    </p>
                    
                    <p>
                        <label for="{{ form.email.id_for_label }}">Email:</label>
                        {{ form.email }}

                    </p>
                    <!-- <p>
                        <label for="{{ form.first_name.id_for_label }}">Mot de passe:</label>
                        {{ form.password1 }}

                    </p>
                    <ul>
                        <li>Votre mot de passe ne doit pas etre semblable à vos autres informations personnelles.</li><li>Votre mot de passe doit contenir au minimum 8 caractères.</li>
                        <li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</li>
                        <li>Votre mot de passe ne peut pas être entièrement numérique.</li>
                    </ul>


                    <p>
                        <label for="{{ form.first_name.id_for_label }}">Confirmer le mot de passe:</label>
                        {{ form.password2 }}

                        <span class="helptext">Saisissez le même mot de passe que précédemment, pour vérification.</span></p>

                    </p>-->
                    
                   
                    
                    <p>
                        <label for="{{  profile_form.poste.id_for_label }}">Poste:</label>
                        {{ profile_form.poste }}

                    </p>

                    <p id="equipe_liv" >
                        <label for="{{  equipe_form.equipe.id_for_label }}">Equipe:</label>
                        
                        {{equipe_form.executant}}
                        
                        
                    </p> 

                    <p id="equipe_responsable" >
                        <label for="{{  equipe_form.equipe.id_for_label }}">Ajouter un responsable:</label>
                        
                        {{responsable_form.responsable}}
                        
                        
                    </p> 
        
                    
                    <button class="btn btn-primary" type="submit"> Valider </button>
                    </form>
                 
                </div>
              </div>
            </div>
      
          </div>
        </div>
      </div>














<!-- 

<p>Registration form</p>

{% block body %}
<div class="container">
    <h1>Register</h1>
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit"> Submit </button>
    </form>
</div>
{% endblock %}-->