{% extends 'theme.html' %}
{% block content %}
{% include "nav_bar.html" %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}


<div class="container ">
    <div class="panel-heading">
        <h2 class="panel-title mt-2 text-center">Création UO</h2>
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}

                 <li {% if message.tags %} class="{{ message.tags }} text-center"{% endif %}>
                    {{ message }} </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="row centered-form d-flex justify-content-start">
    <div class="col-sm-12 col-md-9 ">
        <div class="panel panel-default">

                <div class="panel-body">
                    <form method="POST">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_uo_principal.num_uo.label}}
                                    {{form_uo_principal.num_uo}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_uo_principal.type_uo.label}}
                                    {{form_uo_principal.type_uo}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_uo_principal.niveau_uo.label}}
                                    {{form_uo_principal.niveau_uo}}
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_uo_principal.projet.label}}
                                    {{form_uo_principal.projet}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_uo_principal.fonction.label}}
                                    {{form_uo_principal.fonction}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_uo_principal.statut_uo.label}}
                                    {{form_uo_principal.statut_uo}}
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_uo_principal.etat_uo.label}}
                                    {{form_uo_principal.etat_uo}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_uo_principal.plateforme.label}}
                                    {{form_uo_principal.plateforme}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_uo_principal.uet.label}}
                                    {{form_uo_principal.uet}}
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_uo_principal.catalogue.label}}
                                    {{form_uo_principal.catalogue}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_uo_principal.lot.label}}
                                    {{form_uo_principal.lot}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_uo_principal.jalon_d.label}}
                                    {{form_uo_principal.jalon_d}}
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_uo_principal.jalon_f.label}}
                                    {{form_uo_principal.jalon_f}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_uo_principal.ju.label}}
                                    {{form_uo_principal.ju}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_uo_principal.date_debut_uo.label}}
                                    {{form_uo_principal.date_debut_uo}}
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_uo_principal.date_livraison.label}}
                                    {{form_uo_principal.date_livraison}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_uo_principal.pilote_activitees.label}}
                                    {{form_uo_principal.pilote_activitees}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_uo_principal.client.label}}
                                    {{form_uo_principal.client}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_uo_principal.avancement.label}}
                                    {{form_uo_principal.avancement}}
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <!--
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_uo_principal.note_de_cadrage.label}}
                                    {{form_uo_principal.note_de_cadrage}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_uo_principal.pointage.label}}
                                    {{form_uo_principal.pointage}}
                                </div>
                            </div>-->

                        </div>


                        <div class="d-flex justify-content-start">
                           <input type="submit" value="Valider" class="btn center-block btn-primary col-md-3 btn-block">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}