{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Creation d'UO</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} ">
    <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
</head>
<body>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<form method="POST">
    {% csrf_token %}


<p class="text-center font-weight-bold h1">Creation catalogue UO</p>
    {{form_catalogue_uo.as_p}}



<button class="btn btn-primary">Valider</button>
</form>
</body>
</html>