{% extends 'theme.html' %}
{% block content %}
{% include "nav_bar.html" %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<div class="container ">
    <div class="panel-heading">
        <h2 class="panel-title mt-2 text-center">Création catalogue</h2>
    </div>
    <div class="row centered-form d-flex justify-content-start">
    <div class="col-sm-12 col-md-9 ">
        <div class="panel panel-default">

                <div class="panel-body">
                    <form method="POST">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{ form_catalogue_uo.nom_catalogue.label }}
                                    {{form_catalogue_uo.nom_catalogue}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                   {{ form_catalogue_uo.catalogue_select_type_uo.label }}
                                    {{form_catalogue_uo.catalogue_select_type_uo}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{ form_catalogue_uo.catalogue_select_niveau_uo.label }}
                                    {{form_catalogue_uo.catalogue_select_niveau_uo}}
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{ form_catalogue_uo.nombre_jours_uo.label }}
                                    {{form_catalogue_uo.nombre_jours_uo}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{ form_catalogue_uo.prix_uo.label }}
                                    {{form_catalogue_uo.prix_uo}}

                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{ form_lot_uo.nom_lot_uo.label }}
                                    {{ form_lot_uo.nom_lot_uo }}
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">

                                    {{ form_etat_uo.nom_etat_uo.label }}
                                    {{ form_etat_uo.nom_etat_uo }}
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start">
                           <input type="submit" value="Valider" class="btn center-block btn-primary col-md-3 btn-block">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}