<div class="navbar navbar-expand-lg navbar-light bg-light">

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create_uo'%}">Création UO
                <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create_catalogue_uo'%}">Création catalogue UO
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'creation_parametre_uo'%}">Caratéristiques UO
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'creation_uet'%}">Création UET
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create_plateforme'%}">Création Plateforme
            <span class="sr-only">(current)</span></a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="{% url 'create_pointage'%}">Création Pointage
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create_note_cadrage'%}">Création Note de cadrage
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create_activite'%}">Création d'une activité
            <span class="sr-only">(current)</span></a>
        </li>
    </ul>

</div>