{% extends 'theme.html' %}
{% block content %}
{% include "nav_bar.html" %}

<div class="content">
    <div class="container-fluid">

      <!--MENU DRODPDOWN FILTRES UO-->
      <div class="row">
        <div class="col">
          <div class="card card-body">
      
            <form method="get">
              {{myFilter.form}}
      
              <button class="btn btn-primary" type="submit">Search</button>
            </form>
      
          </div>
        </div>
        
      </div>
        <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Plateformes </h4>
                <p class="card-category"> </p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" expleoColorT">
                        <th>Plateformes</th>
                        
                    </thead>
                    <tbody>
                      
                        {% for a in plateformes %}
                      <tr>
                        <td>{{a.nom}}</td>
                       
                      </tr>
                        {% endfor %}
                         
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

{% endblock content %}