{% extends 'theme.html' %}
{% block content %}
<div class="content">
  <div class="container-fluid">
    <a href="./pointages" class="btn expleoColorB">Pointage</a>
    <a href="./historique" class="btn expleoColorB ">Historique</a>
          <div class="row">
            <div class="row">
              <div class="col">
                <div class="card card-body">
            
                  <form method="get">
                    {{myFilter.form}}
            
                    <button class="btn btn-primary" type="submit">Search</button>
                  </form>
            
                </div>
              </div>

            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title  ">Table pointage</h4>

                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" expleoColorT">
                        <!--  AFFICHER POUR RT
                          <th>
                          LIV/Ch. VALID
                        </th>
                      -->

                        <th>n° UO</th>
                        <th>Type UO</th>
                        <th>Niveau UO</th>
                        <th>Projet</th>
                        <th>Fonction</th>
                        <th>Budget ( j ) </th>


                        <!--POUR RT
                        <th>Statut </th>
                        -->
                        <th>Consommé ( j ) </th>
                        <th>Pointage ( j ) </th>
                        <th>Avancement </th>
                         <!--POUR RT
                        <th>Description</th>
                        <th>Pilote UO</th>
                        -->
                        <th>user</th>
                        <th>semaine</th>


                      </thead>
                      <tbody>
                      {% for u in pointages %}
                      
                      <tr>
                        <td>{{u.uo}}</td>
                        <td>{{u.uo.type_uo}}</td>
                        <td>{{u.uo.nivea_uo}}</td>
                        <td>{{u.uo.projet}}</td>
                        <td>{{u.uo.fonction}}</td>
                        <td></td>
                        <td></td>
                        <td>{{u.point}}</td>
                        <td>{{u.uo.avancement}}</td>
                        <td>{{u.user}}</td>
                        <td>{{u.semaine}}</td>
                      </tr>
                      
                      {% endfor %}
                        
                          





                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
  </div>
</div>
</div>

{% endblock content %}



