{% extends 'theme.html' %}
{% block content %}

<div class="content">
    <div class="container-fluid">

      <!--MENU DRODPDOWN FILTRES UO-->
        <a href="{% url 'create_uo' %}" ><button class="btn btn-primary" > Créer nouvelle UO
         </button></a>

     
        <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Liste des UOs</h4>
                <p class="card-category"> </p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" expleoColorT">
                        <th>N° UO</th>
                        <th>Plateforme</th>
                        <th>Type d'UO</th>
                        <th>Niveau</th>
                        <th>Fonction</th>
                        <th>Projets</th>
                        <th>Lot</th>
                        <th>Jalon début</th>
                        <th>Jalon fin</th>
                        <th>JU</th>
                        <th>Statut</th>
                        <th>Pilote UO</th>
                        <th>Client</th>
                        <th>Date début UO</th>
                        <th>Date livraison</th>
                        <th>Avancement</th>

                    
                    </thead>
                    <tbody>
                        {% for u in Uo %}
                      <tr>
                        <td><a href="{% url 'update_uos' u.id %}">{{u.num_uo}}</a></td>
                        <td>{{u.plateforme}}</td>
                        <td>{{u.type_uo}}</td>
                        <td>{{u.niveau_uo}}</td>
                        <td>{{u.fonction}}</td>
                        <td>{{u.projet}}</td>
                        <td>{{u.lot}}</td>
                        <td>{{u.jalon_d}}</td>
                        <td>{{u.jalon_f}}</td>
                        <td>{{u.ju}}</td>
                        <td>{{u.statut_uo}}</td>
                        <td>{{u.piloteUo}}</td>
                        <td>{{u.Client}}</td>
                        <td>{{u.date_debut_uo}}</td>
                        <td>{{u.date_livraison}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

{% endblock content %}