{% extends 'theme.html' %}
{% block content %}
{% include "nav_bar.html" %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}


<div class="container ">
    <div class="panel-heading">
        <h2 class="panel-title mt-2 text-center">Modification UO</h2>
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}

                 <li {% if message.tags %} class="{{ message.tags }} text-center"{% endif %}>
                    {{ message }} </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="row centered-form d-flex justify-content-start">
    <div class="col-sm-12 col-md-9 ">
        <div class="panel panel-default">

                <div class="panel-body">
                    <form method="POST">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_update_uo.num_uo.label}}
                                    {{form_update_uo.num_uo}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_update_uo.type_uo.label}}
                                    {{form_update_uo.type_uo}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_update_uo.niveau_uo.label}}
                                    {{form_update_uo.niveau_uo}}
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_update_uo.projet.label}}
                                    {{form_update_uo.projet}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_update_uo.fonction.label}}
                                    {{form_update_uo.fonction}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_update_uo.statut_uo.label}}
                                    {{form_update_uo.statut_uo}}
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_update_uo.etat_uo.label}}
                                    {{form_update_uo.etat_uo}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_update_uo.plateforme.label}}
                                    {{form_update_uo.plateforme}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_update_uo.uet.label}}
                                    {{form_update_uo.uet}}
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_update_uo.catalogue.label}}
                                    {{form_update_uo.catalogue}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_update_uo.lot.label}}
                                    {{form_update_uo.lot}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_update_uo.jalon_d.label}}
                                    {{form_update_uo.jalon_d}}
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_update_uo.jalon_f.label}}
                                    {{form_update_uo.jalon_f}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_update_uo.ju.label}}
                                    {{form_update_uo.ju}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_update_uo.date_debut_uo.label}}
                                    {{form_update_uo.date_debut_uo}}
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_update_uo.date_livraison.label}}
                                    {{form_update_uo.date_livraison}}
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_update_uo.client.label}}
                                    {{form_update_uo.client}}
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="form-group d-flex flex-column">
                                    {{form_update_uo.pilote_activitees.label}}
                                    {{form_update_uo.pilote_activitees}}
                                </div>
                            </div>
                            
                        </div>
                    
                        <div class="d-flex justify-content-start">
                           <input type="submit" value="Valider" class="btn center-block btn-primary col-md-3 btn-block">

                           <button class="btn btn-success"><a href="{% url 'excel_generator' uo.pk %}" class=" col-md-3 "> Exporter vers Excel</a></button>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}