{% extends 'theme.html' %}
{% block content %}
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
               <div class="card">
                <div class="card-header ">
                  <h4 class="card-title">Création de compte</h4>

                <div class="card-body">
                    <!--Afficher les messages d'erreurs-->
    
                    {% for message in messages %}
                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        <p class="text-center" >{{ message }}</p> 
        
                    </div>
                    {% endfor %}

                    <form id="valid_register" method="post" enctype='multipart/form-data'>
                    {% csrf_token %}

                    <p>
         <!-- on defini quand meme un username egale a l'adresse mail utile uniquement pour l'administrateur
        Voir la view register dans profil  -->
                        {{ form_user.username.as_hidden  }}
                        {{ form_user.username.errors  }}
                    </p>

                    <p>
                        {{ form_user.last_name.label }}
                        {{ form_user.last_name }}
                        {{ form_user.last_name.errors }}
                    </p>



                    <p>
                        {{ form_user.first_name.label }}
                        {{ form_user.first_name }}
                        {{ form_user.first_name.errors }}

                    </p>

                    <p>
                        {{ form_user.email.label }}
                        {{ form_user.email }}
                        {{ form_user.email.errors }}

                    </p>
                    <p>
                        {{form_profil.phone_number.label}}
                        {{form_profil.phone_number}}
                        {{ form_profil.phone_number.errors }}
                    </p>

                    <p>
                        {{form_profil.poste.label}}
                        {{form_profil.poste}}
                        {{form_profil.poste.errors}}
                    </p>
                    <p>
                       {{form_new_poste.as_p}}
                    </p>
                    <p>

                        {{form_profil.role.label}}
                        {{form_profil.role}}
                        {{form_profil.role.errors}}
                    </p>




                    <button id="display_modal" type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
                        Valider
                      </button>
                      

                    </form>
                 
                </div>
              </div>
            </div>
      
          </div>
        </div>
      </div>

      

  <!-- Modal -->

  <div id="affich_modal"></div>

          {% endblock content %}















