<div class="content">
        <div class="container-fluid">
    
    
          <div class="row">

       
            <div class="col-md-12">
               <div class="card">
                    {% include 'error_message.html' %}
                <div class="card-header ">
                  <h4 class="card-title">Création de compte</h4>
                
                

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                    
                        

                        <p><label   for="id_first_name">Nom :</label>
                             <input class="form-control" type="text" value="{{form.first_name.value }}" name="first_name"  maxlength="30" id="id_first_name"></p>

                        <p>
                                
                        <label  for="id_last_name">Prénom  :</label> 
                        
                        <input class="form-control" type="text" name="last_name"  value="{{form.last_name.value }}"  maxlength="150" id="id_last_name"></p>

                        <p>
                            <label for="id_image">Photo de profile  :</label>
                             <input class="custom-file" type="file" name="image"  id="id_image">
                        </p>
                    

                    <p>
                        <label for="id_poste">Poste  :</label>
                        <input class="form-control" type="text" name="poste" value="{{form_profile.poste.value }}" id="id_poste" maxlength="150" ></p>
                        
                        
                    

                        
                        
                        <button class="btn btn-primary">Valider</button>
                    </form>




                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

