<div class="content">
        <div class="container-fluid">
          <div class="row">
       
       
            <div class="col-md-12">
               <div class="card">
                    {% include 'error_message.html' %}
                <div class="card-header ">
                  <h4 class="card-title">Modification de compte</h4>


                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                    
                        

                        <p>
                            <label for="{{ form.last_name.id_for_label }}">Nom:</label>
                            {{ form.last_name }}

                        <p>
                                
                        <p>
                            <label for="{{ form.first_name.id_for_label }}">Prénom:</label>
                            {{ form.first_name }}

                        <p>
                        
                        <p>
                            <label for="{{ form_profile.image.id_for_label }}">Image:</label>
                            {{ form_profile.image }}

                        <p>
                        
                        <p>
                            <label for="{{ form_profile.poste.id_for_label }}">Image:</label>
                            {{ form_profile.poste }}

                        <p>
                        
                    

                        
                        
                        <button class="btn btn-primary">Valider</button>
                    </form>




                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

