<div class="content">
        <div class="container-fluid">
    {% include 'error_message.html' %}
    
          <div class="row">

       
            <div class="col-md-12">
               <div class="card">
                <div class="card-header ">
                  <h4 class="card-title">Création de compte</h4>
                
                    {% endfor %}

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                    
                        

                        <p><label   for="id_first_name">Nom&nbsp;:</label>
                             <input class="form-control" type="text" value="{{form.first_name.value }}" name="first_name"  maxlength="30" id="id_first_name"></p>

                        <p>
                                
                        <label  for="id_last_name">Prénom&nbsp;:</label> 
                        
                        <input class="form-control" type="text" name="last_name"  value="{{form.last_name.value }}"  maxlength="150" id="id_last_name"></p>

                        <p>
                            <label for="id_image">Image&nbsp;:</label>
                             <input class="form-control" type="file" name="image" accept="image/*" id="id_image">
                        </p>
                    <ul class="errorlist">
                        <li>Ce champ est obligatoire.</li></ul>

                    <p><label for="id_role">Role&nbsp;:</label>
                     <select name="role" id="id_role">

                    <option value="rt">RT</option>

                    <option value="liv">LIV </option>

                    </select></p>
                        
                        
                    

                        
                        
                        <button>Valider</button>
                    </form>




                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

