{% extends 'theme.html' %}
{% block content %}
<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
               <div class="card">
                    {% include 'error_message.html' %}
                <div class="card-header ">
                  <h4 class="card-title">Modification de compte</h4>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>
                            {{ form_update_account.phone_number.label }}
                            {{ form_update_account.phone_number }}

                            {{ form_update_account.email.label }}
                            {{ form_update_account.email }}

                            {{ form_update_account.first_name.label }}
                            {{ form_update_account.first_name }}

                            {{ form_update_account.last_name.label }}
                            {{ form_update_account.last_name }}

                            {{ form_update_account.role.label }}
                            {{ form_update_account.role }}

                            {{form_new_poste.as_p}}


                        </p>

                        <button class="btn btn-primary">Valider</button>
                        <button
                                class="btn btn-secondary "><a href="{% url 'user_list' %}">Retour
                        </a></button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

