<div class="content">
        <div class="container-fluid">
    
    
          <div class="row">

       
            <div class="col-md-12">
               <div class="card">
                    {% include 'error_message.html' %}
                <div class="card-header ">
                  <h4 class="card-title">Modification de compte</h4>
                
                

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                    
                        <p>
                            <label for="{{ form_profil.email.id_for_label }}">Email:</label>
                            {{ form.email }}

                        </p>

                        <p>
                            <label for="{{ form.last_name.id_for_label }}">Nom:</label>
                            {{ form.last_name }}
                        </p>
    
                        
                                    
                        <p>
                            <label for="{{ form.first_name.id_for_label }}">Prénom:</label>
                            {{ form.first_name }}

                        </p>
                        
                        <p>
                            <label for="{{ form_profil.image.id_for_label }}">Image:</label>
                            {{ form_profil.image }}

                        </p>
                        
                        <p>
                            <label for="{{ form_profil.poste.id_for_label }}">Poste:</label>
                            {{ form_profil.poste }}

                        </p>
                        {% if user.is_authenticated  %}
                        
                            
                        <p>
                                <label for="{{ equipe_form_liv.executant.id_for_label }}">Chargés executants:</label> <br>
                                {{ equipe_form_liv.executant }}
    
                        </p>
                             
                        {% endif %}
                        
                        
                    

                        
                        
                        <button class="btn btn-primary">Valider</button>
                    </form>




                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

