{% load static %}



      <div class="content">
        <div class="container-fluid">
          <div class="row">

       
            <div class="col-md-12">
               <div class="card">
                <div class="card-header ">
                  <h4 class="card-title">Mon Profil</h4>
                  
                </div>
                    <div class="card card-profile profile_test">
                      <div class="card-avatar">
                        <a href="#">
                        {% if user.userprofile.image %}
                          <img class="img-fluid"  src="{{ user.userprofile.image.url }}" alt="photo de profile" >
                          {% else %}
                          <img class="img-fluid"  src="{% static 'img/userLogo.png' %}" alt="photo de profile par défaut">
                        {% endif %}
                        </a>
                      </div>
                      <div class="card-body">
                        <h6 class="card-category text-gray">{{ user.last_name }} {{ user.first_name }}</h6>
                        <h4 class="card-title">{{ user.userprofile.poste | upper  }}</h4>
                        
                      </div>
                    </div>
                  
              

                <div class="card-body">
                  <form>
                      <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="bmd-label-floating">Nom</label>
                              <input type="text" class="form-control" value="{{ user.last_name | capfirst }}" disabled>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="bmd-label-floating">Prénom</label>
                              <input type="text" class="form-control" value="{{ user.first_name | capfirst }}" disabled>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="bmd-label-floating">Email</label>
                                <input type="text" class="form-control" value="{{ user.email }}" disabled>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="bmd-label-floating">Poste</label>
                                <input type="text" class="form-control" value="{{ user.userprofile.poste | upper  }}" disabled>
                              </div>
                            </div>
                            
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                  <a href="{% url 'modifMdp' %}">Modifier mot de passe</a>
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <a href="{% url 'edit_profile' %}">Modifier mes informations</a>
                                </div>
                            </div>
                          </div>
                              
                          
                    
                    
                   
                    
                  </form>
                </div>
              </div>
            </div>
      
          </div>
        </div>
      </div>
      {% include 'modal.html' %}