{% extends 'theme.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}

      <div class="content">
        <div class="container-fluid">
          <div class="row">
{{user.myusers.role}}
            <div class="col-md-12">
               <div class="card">
                <div class="card-header ">
                  <h4 class="card-title">Mon Profil</h4>

                </div>
                    <div class="card card-profile profile_test">
                      <div class="card-avatar">
                        <a href="#">
                        {% if user.myusers.image %}
                          <img class="rounded-circle"  src="{{ user.myusers.image.url }}"
                               alt="photo de profile" >
                          {% else %}
                          <img class="img-fluid"  src="{% static 'img/userLogo.png' %}" alt="photo de profil par défaut">
                        {% endif %}
                        </a>
                      </div>
                    <div class="card card-profile profile_test">

                      <div class="card-body">
                        <h6 class="card-category text-gray">{{ user.last_name }}
                            {{ user.first_name }}</h6>
                        <h4 class="card-title">{{ user.myusers.poste | upper  }}</h4>

                      </div>
                    </div>
                <div class="card-body">
                  <form>
                      <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="bmd-label-floating">Nom</label>
                              <input type="text" class="form-control"
                                     value="{{ user.last_name | capfirst }}" disabled>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="bmd-label-floating">Prénom</label>
                              <input type="text" class="form-control"
                                     value="{{ user.first_name | capfirst }}" disabled>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="bmd-label-floating">Email</label>
                                <input type="text" class="form-control"
                                       value="{{ user.email }}" disabled>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="bmd-label-floating">Poste</label>
                                <input type="text" class="form-control"
                                       value="{{ user.myusers.poste | upper  }}" disabled>
                              </div>
                            </div>
                          </div>
                      <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Téléphone</label>
                                    <input type="text" class="form-control"
                                       value="{{ user.myusers.phone_number}}"
                                       disabled>
                              </div>
                            </div>

                          </div>

                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                  <a href="{% url 'modifMdp' %}">Modifier mot de passe</a>
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <a href="{% url 'edit_profil' %}">Modifier mes informations</a>
                                </div>
                            </div>
                          </div>

               </div>
            </div>
            </div>
          </div>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      {% include 'modal.html' %}
 {% else %}
 <div class="content">
        <div class="container-fluid d-flex justify-content-center">
          <div class="row">

            <div class="col-md-12">
               <div class="card">


                    <div class="card card-profile ">

                      <div class="card-body">
                        <h6 class="card-category text-gray">Veuillez vous connecter</h6>
                        <h4 class="card-title"> <a class="text-center" href="{% url 'connexion' %}">Se connecter</a></h4>

                      </div>
                    </div>

               </div>
            </div>
          </div>
        </div>



{% endif %}
{% endblock content %}