{% extends  'theme.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="container-fluid">
      <div class="col-md-12">
        <div class="card">
         <div class="card-header card-header-primary">
          <h4 class="card-title ">Liste des utilisateurs</h4>
          <p class="card-category"> </p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" expleoColorT">
                  <th>Nom </th>
                  <th>Prénom</th>
                  <th>Email</th>
                  <th>Poste</th>
                  <th>Numéro de téléphone</th>
                  <th>Modifier</th>
                  <th>Activer / Désactiver utilisateur</th>
              </thead>
              <tbody>
              {% for utilisateur in users %}
                <tr>
              
                    <td>{{utilisateur.last_name}}</td>
                    <td>{{utilisateur.first_name}}</td>
                    <td>{{utilisateur.email}}</td>
                    <td>{{utilisateur.myusers.poste}}</td>
                    <td>{{utilisateur.myusers.phone_number}}</td>

                    <td><a href="#" class="btn btn-info">Modifier</button></a>

                    <td><input type="checkbox" class="btn check btn-dark" checked></td>

                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>    
  </div>

{% endblock content %}
