<!-- Footer -->

<footer class="page-footer text-white font-small  bg-dark pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase">Information:</h5>
          <p size="1" >Gestionnaire d'activité Workpackage.
          </p>
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links 
          <h5 class="text-uppercase">Liens utiles</h5>
  
          <ul class="list-unstyled">
            <li>
              <a class="text-white" href="#!">Contact</a>
            </li>
            <li>
              <a class="text-white"  href="#!">Tuto</a>
            </li>-->

  
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center text-white bg-dark py-3">© Expleo 2019 : Metier ADAS Valid</div>
        
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</body>

</html>
