{% include 'theme.html' %} 
<div class="content">
    <div class="container-fluid">

      <!--MENU DRODPDOWN FILTRES UO-->
    
     
        <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Liste des UOs</h4>
                <p class="card-category"> </p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" expleoColorT">
                        <th>N° UO</th>
                        <th>Plateforme</th>
                        <th>Type d'UO</th>
                        <th>Niveau</th>
                        <th>Systèmes</th>
                        <th>Projets</th>
                        <th>Lot</th>
                        <th>Jalon début</th>
                        <th>Jalon fin</th>
                        <th>JU</th>
                        <th>Statut</th>
                        <th>Pilote UO</th>
                        <th>Client</th>
                        <th>Date début UO</th>
                        <th>Date livraison</th>
                        <th>Avancement</th>

                       
                    </thead>
                    <tbody>
                        {% for u in Uo %}
                      <tr>
                        <td>{{u.numuo}}</td>
                        <td>{{u.plateforme}}</td>
                        <td>{{u.typeuo}}</td>
                        <td>{{u.niveauo}}</td>
                        <td>{{u.fonction}}</td>
                        <td>{{u.projet}}</td>
                        <td>{{u.lot}}</td>
                        <td>{{u.jalonD}}</td>
                        <td>{{u.jalonF}}</td>
                        <td>{{u.ju}}</td>
                        <td>{{u.statutuo}}</td>
                        <td>{{u.piloteUo}}</td>
                        <td>{{u.Client}}</td>
                        <td>{{u.DateDebutUO}}</td>
                        <td>{{u.DateLivraison}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                       
                      
                      
            
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>