    
<!-- End Navbar -->
<div class="content">
  <div class="container-fluid">
    <a href="./pointages" class="btn expleoColorB">Pointage</a>
    <a href="./historique" class="btn expleoColorB ">Historique</a>
      <span class="ui-button-icon ui-icon ui-icon-gear"></span>
          <div class="row">
      {% include 'filtresPointage.html' %}
      
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title  ">Table pointage</h4>
                 
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" expleoColorT">
                        <!--  AFFICHER POUR RT
                          <th>
                          LIV/Ch. VALID
                        </th>
                      -->
                      
                        <th>n° UO</th>
                        <th>Type UO</th>
                        <th>Niveau UO</th>
                        <th>Projet</th>
                        <th>Fonction</th>
                        <th>Budget ( j ) </th>
                        
                       
                        <!--POUR RT 
                        <th>Statut </th>
                        -->
                        <th>Consommé ( j ) </th>
                        <th>Pointage ( j ) </th>
                        <th>Avancement </th>
                         <!--POUR RT 
                        <th>Description</th>
                        <th>Pilote UO</th>
                        -->
                        <th>Etat </th>
                        
                        
                      </thead>
                      <tbody>
                        <tr>
                          <td>191164</td>
                          <td>UNIT</td>
                          <td>F</td>
                          <td> HHN</td>
                          <td>ACC</td>
                          <td>60</td>
                          <td>30</td>
                          <td> 20 </td>
                          <td><div class="w-75 progressbar" ><div class="progress-label"></div>  </div><button class="moins">-</button><button class="plus">+</button>
           
                          </td>
                          <td><button class="btn btn-danger"> </button></td>
                          
                          <!--POUR RT                          
                          <td> <a class="btn btn-success" href="">Valider</a> </td>
                          <td> <a class="btn btn-danger" href="">Rejeter</a> </td>
                           -->
                        </tr>
                        <tr>
                            <td>191165</td>
                            <td> PVAL</td>
                            <td>C</td>
                            <td>BJA</td>
                            <td>AEB</td>
                            <td>75</td>
                            <td>60</td>
                            <td> 15 </td>
                            <td><div class="w-75 progressbar" ><div class="progress-label"></div>  </div><button class="moins">-</button><button class="plus">+</button>
             
                            </td>
                            <td><button class="btn btn-success"> </button></td>
                            
                            
                            <!--POUR RT                          
                            <td> <a class="btn btn-success" href="">Valider</a> </td>
                            <td> <a class="btn btn-danger" href="">Rejeter</a> </td>
                             -->
                          </tr>
                          <tr>
                              <td>191166</td>
                              <td> NUM</td>
                              <td> B</td>
                              <td>JFC²</td>
                              <td>BSW</td>
                              <td>30</td>
                              <td>10</td>
                              <td> 5 </td>
                              <td><div class="w-75 progressbar" ><div class="progress-label"></div>  </div><button class="moins">-</button><button class="plus">+</button>
               
                              </td>
                              <td><button class="btn btn-warning"> </button></td>
                              
                              <!--POUR RT                          
                              <td> <a class="btn btn-success" href="">Valider</a> </td>
                              <td> <a class="btn btn-danger" href="">Rejeter</a> </td>
                               -->
                            </tr>
                            <tr>
                                <td>191167</td>
                                <td>SYST</td>
                                <td>D</td>
                                <td>HJB</td>
                                <td> LSS</td>
                                <td>35</td>
                                <td>70</td>
                                <td> 45 </td>
                                <td><div class="w-75 progressbar" ><div class="progress-label"></div>  </div><button class="moins">-</button><button class="plus">+</button>
                 
                                </td>
                                <td><button class="btn btn-danger"> </button></td>
                                
                                <!--POUR RT                          
                                <td> <a class="btn btn-success" href="">Valider</a> </td>
                                <td> <a class="btn btn-danger" href="">Rejeter</a> </td>
                                 -->
                              </tr>
      
    
  

                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
  </div>
</div>

     