{% load static %}



      <div class="content">
        <div class="container-fluid">
          <div class="row">

       
            <div class="col-md-12">
               <div class="card">
                <div class="card-header ">
                  <h4 class="card-title">Mon Profil</h4>
                  
                </div>
                    <div class="card card-profile">
                      <div class="card-avatar">
                        <a href="#pablo">
                          <img class="img-fluid"  src="{% static 'img/userLogo.png' %}" />
                        </a>
                      </div>
                      <div class="card-body">
                        <h6 class="card-category text-gray">{{ user.last_name }} {{ user.first_name }}</h6>
                        <h4 class="card-title">{{ user.userprofile.poste | capfirst  }}</h4>
                        
                      </div>
                    </div>
                  
              

                <div class="card-body">
                  <form>
                      <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="bmd-label-floating">Nom</label>
                              <input type="text" class="form-control" value="{{ user.last_name | capfirst }}">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="bmd-label-floating">Prénom</label>
                              <input type="text" class="form-control" value="{{ user.first_name | capfirst }}">
                            </div>
                          </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="bmd-label-floating">Email</label>
                                <input type="text" class="form-control" value="{{ user.email }}">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="bmd-label-floating">Poste</label>
                                <input type="text" class="form-control" value="{{ user.userprofile.poste | capfirst  }}">
                              </div>
                            </div>
                            
                          </div>
                    
                    <div class="row">
                      
                      <div class="col-md-6">
                       
                        <div class="form-group">
                          <label class="bmd-label-floating">Mot de passe  &emsp; &emsp;</label>
                          
                          <a  class="bmd-label-floating" data-toggle="modal" data-target="#exampleModal" href="#">
                              <span class="glyphicon glyphicon-pencil"></span> 
                          </a>
                          <input type="text" class="form-control">
                          
                              
                          </a>
                        </div>
                      
                      </div>
                      
                    </div>
                   
                    
                  </form>
                </div>
              </div>
            </div>
      
          </div>
        </div>
      </div>
      {% include 'modal.html' %}