{% load static %}


      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">

       
            <div class="col-md-12">
               <div class="card">
                <div class="card-header ">
                  <h4 class="card-title">Mon Profil</h4>
                  
                </div>
                    <div class="card card-profile">
                      <div class="card-avatar">
                        <a href="#pablo">
                          <img class="img-fluid"  src="{% static 'img/userLogo.png' %}" />
                        </a>
                      </div>
                      <div class="card-body">
                        <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                        <h4 class="card-title">Walter White</h4>
                        
                      </div>
                    </div>
                  
              

                <div class="card-body">
                  <form>
                    <div class="row">
                     
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email</label>
                          <input type="email" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Nom</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Prénom</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                   
                    <div class="row">
                      
                      <div class="col-md-6">
                        <div class="form-group">
                          <a   class="text-secondary " data-toggle="modal" data-target="#exampleModal" href="#">Modifier mot de passe</a>
                         
                        </div>
                      </div>
                      
                    </div>
                   
                    <button type="submit" class="btn expleoColorB pull-right">Modifier profil</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
      
          </div>
        </div>
      </div>
      {% include 'modal.html' %}